/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*CSS Reset End*/
.wrap{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #f5f5f5;
}

.header{
    background-color: #424242;
    
}

.calculate{
    padding: 80px 120px;
}

h1{
    text-indent: 101%;
    overflow: hidden;
    white-space: nowrap;
    /*圖片取代文字*/
    background-image: url('../img/BMICLogo.png');
    background-repeat: no-repeat;
    height: 117px;
    width: 117px;
    float: left;
}

.content{
    margin-bottom: 50px;
}

.input{
    float: left;
    margin: 0 30px 0 60px;
}

.font-input{
    color:  #ffd366;
}

::placeholder{
    color:  #9a9a9a;
}

.inputdata{
    width: 200px;
    margin: 8px 0;
    background-color: #646464;
    color: #9a9a9a;
    height: 28px;
    font-size: 16px;
    padding: 0 8px;
    border: 2px solid #ffd366;
    border-radius: 8px;
}

.result{
    color: #424242;
    background-color: #ffd366;
    border-radius: 999em;
    width: 100px;
    height: 100px;
    margin-top: 20px; 
    margin-right: 12px;
    font-size: 20px;
    float: left;
}

.resultviewer{
    border-radius: 999em;
    width: 90px;
    height: 90px;
    margin-top: 20px; 
    margin-left: 5px;
    font-size: 20px;
    float: left;
    background-color: #424242;
    text-align: center;
}

.loop{
    position: relative;
    z-index: 2;
    top: -62px;
    right: -620px;
    border-radius: 999em;
    width: 22px;
    height: 22px;
    background-image: url("../img/loop.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
    border: none;
}

.BMIview{
    position: relative;
    z-index: 2;
    top: -70px;
    right: -562px;
    font-size: 0.5em;
}

.viewdegree{
    display: block;
    margin-top: 60px; 
    font-size: 20px;
    width: 100px;
    float: left;
    margin-left: 8px;
}

h2{
    text-align: center;
    font-size: 22px;
    margin: 35px 0;
}

.listli{
    width: 700px;
    margin: 14px auto;
    background-color: white;
}

.degreestyle{
    display: block;
    width: 72px;
    font-size: 18px;
    padding: 18px 30px 18px 5px;
    float: left;
}

.contentstyle{
    display: block;
    width: 120px;
    font-size: 18px;
    padding: 18px 10px 18px 10px;
    float: left;
}

.contentstyle-d{
    display: block;
    width: 80px;
    font-size: 18px;
    padding: 18px 0px 18px 10px;
    float: left;
}

.delete{
    display: block;
    color: #A87EA4;
    text-decoration: none;
    padding: 18px 4px 18px 12px;
    
}

.footer{
    background-color: #ffd366;
}

.footerimg{
    display: block;
    margin: 0 auto;
    width: 65px;
    padding: 12px 0;
}

.clearfix{
    clear: both;
}